{% extends "base.html" %}

{% block title %}Password reset form{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
    {{ form.email.errors }}
    {% endif %}
    Iveskite el. pasta:
    <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-dark btn-sm" value="Reset password">
</form>
{% endblock %}
<form action="{% url 'search' %}" method="get" class="form-inline my-2 my-md-0">
    <input name="query" class="form-inline mr-sm-2" type="text" placeholder="Paieška">
</form>